<!DOCTYPE html>
<html lang="en">
<head>


{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> --}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
      body{
    overflow-x: hidden;
    background-image: url(/statics/images/img.jpg);
background-size: 100vw;
   
}


body{
    margin: 0;
    padding: 0;
 
    
}


    </style>
    
</head>
<body>

            <nav class="navbar" style="height: 75px;border-radius:0%;border:none;background-color: black; color: white;">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/api/home" style="box-shadow: none;color:white;">Mycab</a>   
                </div>

                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false" style="color: white;">
            Account
          </a>
          <ul style="margin-left: 85%;" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/api/user/booking">Bookings</a></li>
            <li><a class="dropdown-item" href="/api/user/booking/confirm">Confirmed bookings</a></li>
            <li><a class="dropdown-item" href="/api/user/update">Profile</a></li>
            <li><a class="dropdown-item" href="/api/user/delete">Delete profile</a></li>
            <li><a class="dropdown-item" href="/api/user/logout">Logout</a></li>
          </ul>
        </li>
              </div>
            </nav>
            


             {{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> --}}
           
          
      
      <br><br><br>
      <div class="container" style="background-color: white;width:30%;height: 350px; border-radius: 20px ;padding-left: 50px;padding-right: 50px;">
        <h2><b>Pick a ride now!</b></h2>
    <form method="post" id="lf" oninput='pk.setCustomValidity(pk.value == ds.value ? "Pickup and destination cannot be same." : "")'>
      <div class="form-group">
        <label for="pickup">Pickup:</label>
        <input type="text" class="form-control" id="pk" placeholder="Enter pickup " name="pickup" required>
      </div>
      <div class="form-group">
        <label for="destination">Destination:</label>
        <input type="text" class="form-control" id="ds" placeholder="Enter destination" name="destination" required>
      </div>
      <div class="form-group">
        <label for="capacity">Capacity:</label>
        <input type="text" class="form-control" id="cp" name="capacity" placeholder="Enter capacity" required>
      </div>
     <div class="form-group">
        <label for="date">Date:</label>
        <input type="date" class="form-control" id="dt" name="date" required>
      </div>
    
     <div class="form-group">
        <label for="time">Time:</label>
        <input type="time" class="form-control" id="tm" name="time" required>
      </div>
     
     
      <button type="submit" class="btn btn-default" id="btnsub" style="color:white;background-color:black ;">Request a ride</button>
    </form>
    </div>  
        


   
    
    <script>

var pickup=document.forms['lf']['pk'];
var destination=document.forms['lf']['ds'];
var capacity=document.forms['lf']['cp'];
var date=document.forms['lf']['dt'];

var time=document.forms['lf']['tm'];

document.querySelectorAll('#lf input').forEach(e => {
    e.addEventListener('keyup',function(event){
        if(!pickup.validity.valid || !destination.validity.valid || !time.validity.valid || !date.validity.valid || !capacity.validity.valid){
            btnsub.setAttribute('disabled',true)


    }
    else{
        btnsub.removeAttribute('disabled');
    }
})
    
});


    </script>
</body>
</html>