<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
 
  body{
    
      background-image: url("https://upcdn.io/W142hXU/raw/2-36YE.jpg");
      background-size: 100vw ;
      
     

  
}
.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.link
 {
    margin-top:25px;  
}
.link #link1{
  margin-left: 975px;
  color:white;
  text-decoration:none; 
  border-radius:20px;
  
padding:10px;

margin-top:20px;
color:rgb(255, 255, 255);
text-decoration:none; 
transition: 0.3s;

}
.link #link1:hover{
background-color: rgba(189, 185, 185, 0.262);


}
.link #link2{
 
margin-left: 10px;
border-radius:20px;
padding:10px;
background-color:white;
margin-top:20px;
color:black;
text-decoration:none; 
transition: 0.3s;
}
.link #link2:hover{
background-color: rgba(250, 247, 247, 0.847);


}



.cssanimation span { display: inline-block }

.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}




.navbar-brand:hover{
color: black;
}
</style>
</head>

  <div>

<nav class="navbar" style="height: 75px;border-radius:0%;border:none;background-color: black; color: white;">
  
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/api/home" style="box-shadow: none;color:white;margin-top: 10px;margin-left:10px;">Mycab</a>
    </div>
   
     <div class="link">
      <a id="link1" href="/api/register">Sign up</a>
      <a id="link2" href="/api/login">Sign in</a>
      </div>
    
  </div>
</nav>
<div class="cssanimation sequence fadeInBottom" style="margin-left: 75px;margin-top:150px;">
<h1 style="color:white;"><b><span style="font-size: 50pt;">Ride with us</span></b></h1>
<br>
<p style="color:white ; font-size: larger;"><b>Find a ride for every road with access in more than 10,000 cities worldwide.
   <br>Because the best adventures come to you.</b></p>
   <br>
<button onclick="location.href='/api/booking';" class="btn btn-secondary" style="width:250px;height:50px;"><b>Book now</b></button>
</div>
</body>
</html>
