<!DOCTYPE html>
<html lang="en">
<head>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<style>
body{
    overflow-x: hidden;
    background-image: url(/statics/images/img.jpg);
background-size: 100vw;


background-size: 100vw ;

   
}









}

a {
box-shadow: inset 0 0 0 0 white;
color: #ffffff;
margin: 0 -.25rem;
padding: 0 .25rem;
transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
box-shadow: inset 100px 0 0 0 white;
color: rgb(0, 0, 0);
}
body{
    margin: 0;
    padding: 0;
 
    
}

.row{
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.col-sm-4{
   
    align-items: center;
    justify-content: space-around;
    display: flex;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
</style>
    
</head>
<body>
   
   <!-- <nav class="navbar" style="border-radius:0%;border:none;background-color: black; color: white;">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="home.html" style="box-shadow: none;color:white;">Mycab</a>
          </div>
          <ul class="nav navbar-nav out">
            
           
            
          </ul>
        </div>
      </nav>-->
      <nav class="navbar" style="height: 75px;border-radius:0%;border:none;background-color: black; color: white;">
  
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/api/home" style="box-shadow: none;color:white;margin-top: 10px;">Mycab</a>
          </div>
          
        </div>
      </nav>
      <br><br><br>
      
      <div class="container" style="background-color: white;width:30%;height: 300px; border-radius: 20px ;padding-left: 50px;padding-right: 50px;">
            <h2><b>Login here!</b></h2>
        <form id="lf" method="post">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" required>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
          </div>
          <div>
          
   
          </div>
          
          
          <button type="submit" class="btn btn-default" id="btnsub" style="color:white;background-color:black ;">Login</button>
          {{#if message}}
                        <p class="text-danger">{{message}}</p>
                    {{/if}}
        </form>
      </div>


    
    <script>

var email=document.forms['lf']['email'];
var password=document.forms['lf']['pwd'];


document.querySelectorAll('#lf input').forEach(e => {
    e.addEventListener('keyup',function(event){
        if(!email.validity.valid || !password.validity.valid){
            btnsub.setAttribute('disabled',true)


    }
    else{
        btnsub.removeAttribute('disabled',true);
    }
})
    
});


    </script>
</body>
</html>