body{
    overflow-x: hidden;
    background-image: url(images/img.jpg);
background-size: 100vw;
  
}

a {
box-shadow: inset 0 0 0 0 white;
color: #ffffff;
margin: 0 -.25rem;
padding: 0 .25rem;
transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
box-shadow: inset 100px 0 0 0 white;
color: white;
}
body{
    margin: 0;
    padding: 0;
 
    
}

.row{
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.col-sm-4{
   
    align-items: center;
    justify-content: space-around;
    display: flex;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
.navbar-brand:hover{
color: black;
}
